In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [24]:
name_of_movie = []
ranking = []
year_of_release = []
ratings = []

In [25]:
try:
    source = requests.get('https://www.imdb.com/chart/top/')
    source.raise_for_status()
    soup = bs(source.text,'html.parser')
    movies = soup.find('tbody',class_='lister-list').find_all('tr')
    for movie in movies:
        name_of_movie.append(movie.find('td',class_='titleColumn').a.text)
        ranking.append(movie.find('td',class_='titleColumn').get_text(strip=True).split('.')[0])
        year_of_release.append(movie.find('td',class_='titleColumn').span.text.strip('()'))
        ratings.append(movie.find('td',class_='ratingColumn imdbRating').strong.text)    
except Exception as e:
    print(e)

In [26]:
data = pd.DataFrame({'Rank':ranking,'Movie':name_of_movie,'YearOfRelease':year_of_release,'Ratings':ratings})

,Rank,Movie,YearOfRelease,Ratings
0,1,The Shawshank Redemption,1994,9.2
1,2,The Godfather,1972,9.2
2,3,The Dark Knight,2008,9.0
3,4,The Godfather Part II,1974,9.0
4,5,12 Angry Men,1957,8.9
5,6,Schindler's List,1993,8.9
6,7,The Lord of the Rings: The Return of the King,2003,8.9
7,8,Pulp Fiction,1994,8.9
8,9,The Lord of the Rings: The Fellowship of the Ring,2001,8.8
9,10,"Il buono, il brutto, il cattivo",1966,8.8